body {
    font-family: Arial;
    background-color: #eef2f7;
    text-align: center;
}

.login-box {
    background: white;
    padding: 30px;
    width: 300px;
    margin: auto;
    margin-top: 100px;
    border-radius: 10px;
    box-shadow: 0px 0px 10px gray;
}

input {
    width: 90%;
    padding: 8px;
}

button {
    padding: 10px 20px;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 5px;
}
